<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="foundation-styles.html">

<dom-module id="lenses-app">
    <template>
        <style include="foundation-styles"></style>
        <h1>Hello Sails</h1>
    </template>
    <script>
        class LensesApp extends Polymer.Element {
            static get is(){return "lenses-app";}
            constructor(){super();}
        }
        customElements.define(LensesApp.is, LensesApp);
    </script>
</dom-module>